@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

body {
    font-family: "Montserrat", sans-serif;
}

* {
    position: relative;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}

.nameTask {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row nowrap;
    -webkit-box-align: center;
    align-items: center;
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    color: #369cb7;
    margin: 0 0 5px 40px;
}

.app {
    width: 1170px;
    height: 625px;
    left: calc(50% - 1170px / 2);
    top: 10px;
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.05);
    border: 0.5px solid #a8a8a8;
    border-radius: 7px;
    margin-bottom: 51px;
}

.titlePage {
    top: 26px;
    left: calc(50% - 770px / 2);
    width: 770px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #2f2f2f;
}

.submit input {
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #369cb7;
    flex-direction: column;
    padding: 20px;
    width: 200px;
    height: 40px;
    background: #369cb7;
    border: 0.5px solid #369cb7;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-bottom: 47px;
    margin-left: 505px;
    margin-top: 10px;
}

.lineUnderHeading {
    position: absolute;
    width: 1169px;
    height: 0px;
    top: 91px;
    border-bottom: 1px solid #a8a8a8;
}

/* content styles */

.content {
    top: 132px;
    left: calc(50% - 770px / 2);
    width: 770px;
    height: 302px;
}

/* objects styles */

.objects {
    left: calc(50% - 743px / 2);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 743px;
    height: 55px;
}

.objects img {
    cursor: grab;
}

img:hover {
    transform: scale(1.2);
}

/* collections styles */

.mergingCollections {
    top: 77px;
    width: 770px;
    height: 168px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    /* border: 1px solid orange; */
}

.circle,
.square,
.triangle,
.rectangle {
    width: 170px;
    height: 168px;
    border: 1px solid #d0d0d0;
    /* box-sizing: border-box; */
    border-radius: 5px;
}

.headerCircle,
.headerSquare,
.headerTriangle,
.headerRectangle {
    width: 170px;
    height: 28px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    /* left: -2px; */
    top: -1px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #205b64;
    color: white;
}

.placeDroppingFigures {
    /* background-color: #a8a8a8; */
    width: 169px;
    height: 115px;
    display: flex;
}
