@media (min-width: 375px) and (orientation: landscape) {
    body {
        /* background-color: red; */
        position: absolute;
    }

    /* html {
        background-color: #fff;
    } */

    .app {
        /* background-color: orange; */
        position: relative;
        top: 20px;
    }

    /* .app1 {
        background-color: blue;
    } */
}

@media (min-width: 1200px) and (orientation: landscape) {
    body {
        background-color: white;
        position: relative;
    }
}
