/* common styles */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");

body {
    font-family: "Montserrat", sans-serif;
}

* {
    position: relative;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}

.nameTask {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row nowrap;
    -webkit-box-align: center;
    align-items: center;
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    color: #369cb7;
    margin: 0 0 5px 40px;
}

.lineUnderHeading {
    position: absolute;
    width: 1169px;
    height: 0px;
    top: 80px;
    border-bottom: 1px solid #a8a8a8;
}

.submit input {
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #369cb7;
    flex-direction: column;
    padding: 20px;
    width: 200px;
    height: 40px;
    background: #369cb7;
    border: 0.5px solid #369cb7;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-bottom: 47px;
    margin-left: 505px;
    margin-top: 10px;
}

/* 1 QUESTION */

.app1 {
    width: 1170px;
    height: 403px;
    left: calc(50% - 1170px / 2);
    top: 10px;
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.05);
    border: 0.5px solid #a8a8a8;
    border-radius: 7px;
    margin-bottom: 51px;
}

.titlePage1 {
    top: 25px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #2f2f2f;
}

/* content styles */

.content1 {
    top: 133px;
    left: calc(50% - 450px / 2);
    width: 450px;
    height: 150px;
}

/* top row styles */

.topRow {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 450px;
    height: 50px;
}

.square {
    position: static;
    width: 50px;
    height: 50px;
    margin-right: 30px;
}

/* bottom row styles */

.bottomRow {
    top: 47px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 450px;
    height: 50px;
}

.number {
    position: static;
    width: 50px;
    height: 50px;
    left: 0px;
    top: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-right: 30px;
    cursor: grab;
}

.number:hover {
    transform: scale(1.2);
}

/* 2 QUESTION */

.app2 {
    top: 10px;
    left: calc(50% - 1170px / 2);
    width: 1170px;
    height: 342px;
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.05);
    border: 0.5px solid #a8a8a8;
    border-radius: 7px;
    margin-bottom: 51px;
}

.titlePage2 {
    top: 25px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #2f2f2f;
}

/* content styles */

.content2 {
    top: 132px;
    left: calc(50% - 810px / 2);
    width: 810px;
    height: 90px;
}

/* 2. inputs styles */

.inputsCollection {
    display: flex;
    height: 30px;
}

.inputContent div {
    margin-right: 30px;
    border: 1.5px solid #2f2f2f;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 16px;
    position: static;
    width: 54px;
    height: 30px;
    left: 756px;
    top: 0px;
    box-sizing: border-box;
    border-radius: 5px;
    flex: none;
    order: 9;
    flex-grow: 0;
}

.filledField {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 16px;
    position: static;
    width: 54px;
    height: 30px;
    text-align: center;
    background: #369cb7;
    border: none !important;
    box-sizing: border-box;
    border-radius: 5px;
    flex: none;
    order: 1;
    flex-grow: 0;
    color: #ffffff;
    cursor: grab;
}

.collectionFilledFields {
    left: calc(50% - 642px / 2);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    width: 642px;
    height: 30px;
    position: absolute;
    bottom: 0;
}

/* 3 QUESTION */

.app3 {
    width: 1170px;
    height: 517px;
    left: calc(50% - 1170px / 2);
    top: 10px;
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.05);
    border: 0.5px solid #a8a8a8;
    border-radius: 7px;
    margin-bottom: 51px;
}

.titlePage3 {
    top: 25px;
    width: 1170px;
    height: 22px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #2f2f2f;
    text-align: center;
}

/* content styles */

.content3 {
    top: 132px;
    left: calc(50% - 360px / 2);
    width: 360px;
    height: 265px;
}

/* figures styles */

.figures,
.places {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.figures {
    width: 360px;
    height: 100px;
}

.figures img {
    cursor: grab;
}

.figures img:hover {
    position: static;
    width: 100px;
    height: 100px;
    background: #ffffff;
    box-shadow: 2px 2px 20px 1px rgba(54, 156, 183, 0.29);
    border-radius: 5px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 30px;
}

/* places styles */

.namePlace {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #2f2f2f;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 5px 0px;
}

.places {
    top: 37px;
    width: 360px;
    height: 125px;
}

/* 4 QUESTION */

.app4 {
    width: 1170px;
    height: 477px;
    left: calc(50% - 1170px / 2);
    top: 10px;
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.05);
    border: 0.5px solid #a8a8a8;
    border-radius: 7px;
    margin-bottom: 51px;
}

.titlePage4 {
    position: relative;
    top: 26px;
    left: 335px;
    width: 770px;
    height: 22px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #2f2f2f;
}

/* content styles */

/* 1. inputs styles */

.inputContent2 {
    position: relative;
    left: calc(50% - 153px / 2);
    top: 247px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 153px;
    height: 30px;
}

.inputContent2 input {
    position: relative;
    width: 70px;
    height: 30px;
    margin: 0px 10px;
    border: 1.5px solid #2f2f2f;
    border-radius: 5px;
    text-align: center;
}

.cookies {
    left: calc(50% - 502px / 2);
    position: relative;
    width: 502px;
    height: 61px;
    top: 133px;
}

.message {
    position: relative;
    width: 770px;
    height: 44px;
    left: calc(50% - 770px / 2);
    top: 200px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #2f2f2f;
}

.question {
    font-weight: bold;
}

/* 5 QUESTION */

.app5 {
    width: 1170px;
    height: 527px;
    left: calc(50% - 1170px / 2);
    top: 10px;
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.05);
    border: 0.5px solid #a8a8a8;
    border-radius: 7px;
    margin-bottom: 51px;
}

.titlePage5 {
    top: 14px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #2f2f2f;
}

/* content styles */

.content5 {
    top: 63px;
    left: calc(50% - 571px / 2);
    width: 571px;
    height: 264.2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* ice cream styles */

.iceCream {
    width: 270px;
    height: 134px;
}

.topRow,
.bottomRow,
.topRowFlower,
.bottomRowFlower {
    display: flex;
}

.topRow div,
.bottomRow div {
    margin-right: 40px;
    width: 37.33px;
    height: 60px;
}

.topRow {
    margin-left: 40px;
}

.bottomRow {
    margin-left: 20px;
}

/* flowers styles */

.flowers {
    width: 270px;
    height: 134px;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}

.topRowFlower,
.bottomRowFlower {
    align-items: flex-start;
    justify-content: space-around;
    margin-bottom: 10px;
}

.topRowFlower div,
.bottomRowFlower div {
    width: 42px;
    height: 39px;
}

/* addition styles */

.additionInTheFormInputs {
    top: 67px;
    left: calc(50% - 222px / 2);
    width: 222px;
    height: 90px;
}

.inputCollection {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 222px;
    height: 30.2px;
    margin-bottom: 30px;
}

.inputContent3 input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 16px;
    position: static;
    width: 54px;
    height: 30px;
    border: 1px solid #2f2f2f;
    box-sizing: border-box;
    border-radius: 5px;
    transform: rotate(-0.21deg);
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-right: 30px;
    text-align: center;
}

#selectInput {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 16px;
    position: static;
    width: 54px;
    height: 30px;
    background: #f4f4f4;
    border: 1px solid #d0d0d0;
    box-sizing: border-box;
    border-radius: 5px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-right: 30px;
}

.btnsCollection {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 222px;
    height: 30px;
}

.buttonContent div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 16px;
    position: static;
    width: 54px;
    height: 30px;
    background: #369cb7;
    border: 1px solid #369cb7;
    box-sizing: border-box;
    border-radius: 5px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-right: 30px;
    color: white;
    cursor: grab;
}

/* 6 QUESTION */

.app6 {
    width: 1170px;
    height: 544px;
    left: calc(50% - 1170px / 2);
    top: 10px;
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.05);
    border: 0.5px solid #a8a8a8;
    border-radius: 7px;
    margin-bottom: 51px;
}

.titlePage6 {
    top: 25px;
    width: 1170px;
    height: 44px;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    color: #2f2f2f;
    text-align: center;
}

.excretion {
    font-weight: bold;
}

/* content styles */

.content6 {
    left: calc(50% - 382.71px / 2);
    top: calc(50% - 269.69px / 2);
    width: 382.71px;
    height: 269.69px;
}

.basket {
    left: calc(50% - 270px / 2);
    width: 270px;
    height: 160px;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
}

.titleBasket {
    width: 270px;
    height: 28px;
    background: #205b64;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.applesRow {
    left: calc(50% - 382.71px / 2);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    width: 382.71px;
    height: 40px;
    margin-top: 40px;
}

.applesRow div {
    width: 37.95px;
    height: 40px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-right: 31px;
    cursor: grab;
}

.textBasket {
    width: 112px;
    height: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    left: calc(50% - 112px / 2);
    top: calc(50% - 20px / 2);
}

.appleInBasket,
.appleInBasket2row {
    display: flex;
    margin-left: 10px;
    margin-top: 10px;
}

.appleInBasket div,
.appleInBasket2row div {
    width: 37.95px;
    height: 40px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-right: 10px;
}

/* 7 QUESTION */

.app7 {
    width: 1170px;
    height: 555px;
    left: calc(50% - 1170px / 2);
    top: 10px;
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.05);
    border: 0.5px solid #a8a8a8;
    border-radius: 7px;
    margin-bottom: 51px;
}

.titlePage7 {
    top: 26px;
    left: calc(50% - 770px / 2);
    width: 770px;
    height: 44px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #2f2f2f;
}

/* content styles */

.content7 {
    top: 100px;
    left: calc(50% - 570px / 2);
    width: 570px;
    height: 279.69px;
}

/* candies styles */

.candies {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    left: calc(50% - 530px / 2);
    width: 530px;
    height: 50px;
}

.candy img {
    position: static;
    width: 50px;
    height: 50px;
    flex: none;
    order: 3;
    flex-grow: 0;
    margin-right: 30px;
    cursor: grab;
}

.candy img:hover {
    transform: scale(1.2);
}

/* mans styles */

.mans {
    width: 570px;
    height: 160px;
    margin-top: 67px;
    margin-left: -1px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.bob {
    width: 270px;
    height: 160px;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
}

.dave {
    width: 270px;
    height: 160px;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
}

.header {
    width: 271px;
    height: 28px;
    background: #205b64;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.textHeader {
    width: 34px;
    height: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    left: calc(50% - 34px / 2);
    top: calc(50% - 20px / 2);
    color: #ffffff;
}

.placeDropCandy {
    width: 271px;
    height: 133px;
}

/* 8 QUESTION */

.app8 {
    width: 1170px;
    height: 550px;
    left: calc(50% - 1170px / 2);
    top: 10px;
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.05);
    border: 0.5px solid #a8a8a8;
    border-radius: 7px;
    margin-bottom: 51px;
}

.titlePage8 {
    top: 26px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #2f2f2f;
}

/* content styles */

.content8 {
    top: 155px;
    left: calc(50% - 505px / 2);
    width: 505px;
    height: 275px;
}

/* animals styles */

.animals {
    width: 505px;
    height: 192.8px;
}

.rowJellyfish,
.rowSeahorses {
    display: flex;
}

.rowJellyfish div,
.rowSeahorses div {
    width: 100.33px;
    height: 96.4px;
    border: 2px solid #a1a6d9;
    border-right: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rowJellyfish div:last-of-type,
.rowSeahorses div:last-of-type {
    border-right: 2px solid #a1a6d9;
}

.rowJellyfish div {
    border-bottom: none;
}

/* inputs styles */

.inputsCollection2 {
    top: 49px;
    left: calc(50% - 192px / 2);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 192px;
    height: 30px;
}

.inputContent4 input {
    position: static;
    width: 50px;
    height: 30px;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 5px;
    border: 1px solid #2f2f2f;
    border-radius: 5px;
    text-align: center;
}

.sign {
    position: static;
    width: 11px;
    height: 22px;
    left: 55px;
    top: 4px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #2f2f2f;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 5px;
}

/* 9 QUESTION */

.app9 {
    width: 1170px;
    height: 525px;
    left: calc(50% - 1170px / 2);
    top: 10px;
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.05);
    border: 0.5px solid #a8a8a8;
    border-radius: 7px;
    margin-bottom: 51px;
}

.titlePage9 {
    top: 25px;
    left: calc(50% - 561px / 2);
    width: 561px;
    height: 22px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #2f2f2f;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* content styles */

.content9 {
    top: 132px;
    left: calc(50% - 570px / 2);
    width: 570px;
    height: 273px;
}

/* cubes styles */

.cubes {
    left: calc(50% - 84.62px / 2);
    width: 84.62px;
    height: 187.73px;
    display: flex;
}

.columnDice div {
    margin: -10.7px 0;
    cursor: grab;
}

.columnDice div:last-of-type {
    margin-bottom: 0px;
}

.columnDice {
    margin-right: 6.7px;
}

/* btns styles */

.btns {
    top: 37px;
    left: calc(50% - 570px / 2);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 570px;
    height: 45px;
}

.btns div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 16px;
    position: static;
    width: 170px;
    height: 45px;
    left: calc(50% - 170px / 2 - 200px);
    top: calc(50% - 45px / 2);
    border: 1px solid #2f2f2f;
    box-sizing: border-box;
    border-radius: 5px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-right: 30px;
    cursor: pointer;
}

.btns div:hover {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 16px;
    position: static;
    width: 170px;
    height: 45px;
    left: calc(50% - 170px / 2);
    top: calc(50% - 45px / 2);
    border: 1px solid #369cb7;
    color: #369cb7;
    box-sizing: border-box;
    border-radius: 5px;
    flex: none;
    flex-grow: 0;
    margin-right: 30px;
}

/* 10 QUESTION */

.app10 {
    width: 1170px;
    height: 382px;
    left: calc(50% - 1170px / 2);
    top: 10px;
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.05);
    border: 0.5px solid #a8a8a8;
    border-radius: 7px;
    margin-bottom: 51px;
}

.titlePage10 {
    top: 25px;
    left: calc(50% - 770px / 2);
    width: 770px;
    height: 22px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #2f2f2f;
    text-align: center;
}

/* content styles */

.content10 {
    top: 132px;
    left: calc(50% - 570px / 2);
    width: 570px;
    height: 375px;
    /* border: 1px solid gray; */
}

.row {
    left: calc(50% - 770px / 2);
    width: 770px;
    height: 130px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.row img {
    cursor: pointer;
}

.row div:not(.selectedPicture):hover {
    margin: 0 30px;
    width: 130px;
    height: 130px;
    background: #ffffff;
    box-shadow: 2px 2px 20px 1px rgba(54, 156, 183, 0.29);
    border-radius: 10px;
}

.selectedPicture {
    position: static;
    width: 130px;
    height: 130px;
    margin: 0 30px;
    overflow: hidden;
    background: #ffffff;
    border: 1px solid #369cb7;
    box-sizing: border-box;
    box-shadow: 2px 2px 20px 1px rgba(54, 156, 183, 0.29);
    border-radius: 10px;
}

/* 11 QUESTION */

.app11 {
    width: 1170px;
    height: 627px;
    left: calc(50% - 1170px / 2);
    top: 10px;
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.05);
    border: 0.5px solid #a8a8a8;
    border-radius: 7px;
    margin-bottom: 51px;
}

.titlePage11 {
    top: 25px;
    left: calc(50% - 561px / 2);
    width: 561px;
    height: 22px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #2f2f2f;
    text-align: center;
}

/* content styles */

.content11 {
    top: 132px;
    left: calc(50% - 570px / 2);
    width: 570px;
    height: 375px;
}

/* mans styles */

.mans2 {
    left: calc(50% - 330px / 2);
    width: 330px;
    height: 290px;
}

.friends {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.friends div {
    margin-right: 10px;
}

.JackConstructor {
    text-align: center;
    vertical-align: middle;
}

.JackConstructor div {
    margin-top: 0px;
    margin-bottom: -10px;
}

.signatures {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-left: 25px;
    margin-right: 40px;
}

.signatures .name {
    font-family: "Caveat", cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 38px;
    text-align: center;
    color: #333030;
}

/* btns styles */

.btns2 {
    top: 40px;
    left: calc(50% - 570px / 2);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 570px;
    height: 45px;
}

.btnSelect {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 16px;
    position: static;
    width: 170px;
    height: 45px;
    left: calc(50% - 170px / 2 - 200px);
    top: calc(50% - 45px / 2);
    border: 1px solid #2f2f2f;
    box-sizing: border-box;
    border-radius: 5px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-right: 30px;
    cursor: pointer;
}

/* 12 QUESTION */

.app12 {
    width: 1170px;
    height: 641px;
    left: calc(50% - 1170px / 2);
    top: 10px;
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.05);
    border: 0.5px solid #a8a8a8;
    border-radius: 7px;
    margin-bottom: 51px;
}

.titlePage12 {
    top: 25px;
    left: calc(50% - 770px / 2);
    width: 770px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #2f2f2f;
}

/* content styles */

.content12 {
    top: 132px;
    left: calc(50% - 567px / 2);
    width: 567px;
    height: 389px;
}

/* figures styles */

.figures {
    left: calc(50% - 451.67px / 2);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 451.67px;
    height: 100px;
}

img:hover {
    transform: scale(1.2);
}

.topRow,
.bottomRow {
    width: 451.67px;
    height: 40px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.bottomRow {
    top: 17px;
}

.topRow div {
    cursor: grab;
}

/* collections styles */

.mergingCollections {
    top: 70px;
    height: 160px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.heart,
.star,
.rhombus {
    width: 169px;
    height: 160px;
    border: 1px solid #d0d0d0;
    box-sizing: border-box;
    border-radius: 5px;
}

.headerHeart,
.headerStar,
.headerRhombus {
    width: 170px;
    height: 45px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    left: -2px;
    top: -1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerHeart {
    background: #ffe5e1;
}

.headerStar {
    background: #def0aa;
}

.headerRhombus {
    background: #e1ecf9;
}

.placeDroppingFigures {
    width: 169px;
    height: 115px;
    display: flex;
}

/* inputs styles */

.inputsCollection3 {
    top: 96px;
    width: 467px;
    left: calc(50% - 467px / 2);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.inputContent5 input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 16px;
    width: 70px;
    height: 30px;
    border: 1px solid #2f2f2f;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
}
