@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

body {
    font-family: "Montserrat", sans-serif;
}

* {
    position: relative;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}

.nameTask {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row nowrap;
    -webkit-box-align: center;
    align-items: center;
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    color: #369cb7;
    margin: 0 0 5px 40px;
}

.app {
    width: 1170px;
    height: 611px;
    left: calc(50% - 1170px / 2);
    top: 10px;
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.05);
    border: 0.5px solid #a8a8a8;
    border-radius: 7px;
    margin-bottom: 51px;
}

.titlePage {
    top: 25px;
    left: calc(50% - 770px / 2);
    width: 770px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #2f2f2f;
}

.submit input {
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #369cb7;
    flex-direction: column;
    padding: 20px;
    width: 200px;
    height: 40px;
    background: #369cb7;
    border: 0.5px solid #369cb7;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-bottom: 47px;
    margin-left: 505px;
    margin-top: 10px;
}

.lineUnderHeading {
    position: absolute;
    width: 1169px;
    height: 0px;
    top: 72px;
    border-bottom: 1px solid #a8a8a8;
}

/* content styles */

.content {
    top: 132px;
    left: calc(50% - 570px / 2);
    width: 570px;
    height: 371px;
    border: 1px solid black;
}

/* figures styles */

.figures {
}

.topRow,
.bottomRow {
    left: calc(50% - 444px / 2);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 444px;
    height: 60px;
    /* border: 1px solid gray; */
}

.bottomRow {
    top: 12px;
}

/* baskets styles */

.basket {
}

.basketFlat {
}

.headerFlat {
}

.placeDropFigures {
}

.basketSolid {
}

.headerSolid {
}
