.app19 {
    width: 1170px;
    height: 422px;
    left: calc(50% - 1170px / 2);
    top: 10px;
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.05);
    border: 0.5px solid #a8a8a8;
    border-radius: 7px;
    margin-bottom: 51px;
}

.titlePage19 {
    top: 25px;
    left: calc(50% - 770px / 2);
    width: 770px;
    height: 22px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #2f2f2f;
    text-align: center;
}

/* content styles */

.content19 {
    top: 132px;
    left: calc(50% - 370px / 2);
    width: 370px;
    height: 170px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.leftFigure,
.rightFigure {
    width: 170px;
    height: 170px;
    background: #ffffff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.selectedPicture2 {
    width: 170px;
    height: 170px;
    background: #ffffff;
    border: 2px solid #369cb7;
    box-sizing: border-box;
    box-shadow: 2px 2px 20px 1px rgba(54, 156, 183, 0.29);
    border-radius: 10px;
}

.content19
    div:not(.selectedPicture2, .correctAnswer19, .headerCorrectAnswer, .contentCorrectAnswer):hover {
    width: 170px;
    height: 170px;
    background: #ffffff;
    box-shadow: 2px 2px 20px 1px rgba(54, 156, 183, 0.29);
    border-radius: 10px;
}
