@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap");

body {
    font-family: "Montserrat", sans-serif;
}

* {
    position: relative;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}

.nameTask {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row nowrap;
    -webkit-box-align: center;
    align-items: center;
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    color: #369cb7;
    margin: 0 0 5px 40px;
}

.app {
    width: 1170px;
    height: 424px;
    top: 10px;
    left: calc(50% - 1170px / 2);
    border: 0.5px solid #369cb7;
    box-sizing: border-box;
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.05);
    border-radius: 7px;
}

.titlePage {
    top: 29px;
    text-align: center;
    width: 1170px;
    height: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #2f2f2f;
}

.submit input {
    top: 30px;
    left: calc(50% - 200px / 2);
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #369cb7;
    flex-direction: column;
    padding: 20px;
    width: 200px;
    height: 40px;
    background: #369cb7;
    border: 0.5px solid #369cb7;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-bottom: 47px;
}

/* content styles */

.content {
    /* position: absolute; */
    display: flex;
    top: 103px;
    left: 510px;
    width: 504px;
    height: 171px;
    /* border: 1px solid black; */
}

.resetField {
    /* position: absolute; */
    width: 170px;
    height: 90px;
    /* left: 635px; */
    top: 35px;

    background: #dc97f4;
    opacity: 0.3;
    border: 0.5px dashed #064c5b;
    box-sizing: border-box;
}

/* triangles styles */

.firstTriangle,
.secondTriangle {
    cursor: grab;
}

.firstTriangle {
    margin-left: 41px;
    margin-right: 31.43px;
}

.secondTriangle img {
    position: absolute;
    bottom: 0;
}

/* ruler styles */

.ruler {
    position: absolute;
    top: 181px;
    left: 505px;
    display: flex;
    cursor: grab;
}

.leftEdge,
.rightEdge {
    display: flex;
    width: 50px;
    height: 57px;
    position: absolute;
    cursor: pointer;
    z-index: 1;
}

.rightEdge {
    left: 81%;
}

.btns {
    left: calc(50% - 570px / 2);
    top: 223.74px;
    display: flex;
    /* flex-direction: row;
    align-items: flex-start; */
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 570px;
    height: 45px;
}

.btns button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 16px;
    width: 170px;
    height: 45px;
    left: calc(50% - 170px / 2 - 200px);
    top: calc(50% - 45px / 2);

    border: 1px solid #2f2f2f;
    box-sizing: border-box;
    border-radius: 5px;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin-right: 30px;
    background-color: white;
    cursor: pointer;
}
