@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap");

body {
    font-family: "Montserrat", sans-serif;
}

* {
    position: relative;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}

.nameTask {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row nowrap;
    -webkit-box-align: center;
    align-items: center;
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    color: #369cb7;
    margin: 0 0 5px 40px;
}

.app {
    width: 1170px;
    height: 424px;
    top: 10px;
    left: calc(50% - 1170px / 2);
    border: 0.5px solid #369cb7;
    box-sizing: border-box;
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.05);
    border-radius: 7px;
}

.titlePage {
    top: 29px;
    text-align: center;
    width: 1170px;
    height: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #2f2f2f;
}

.submit input {
    top: 30px;
    left: calc(50% - 200px / 2);
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #369cb7;
    flex-direction: column;
    padding: 20px;
    width: 200px;
    height: 40px;
    background: #369cb7;
    border: 0.5px solid #369cb7;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-bottom: 47px;
}

/* content styles */

.content {
    display: flex;
    top: 103px;
    left: 510px;
    width: 504px;
    height: 171px;
    /* border: 1px solid black; */
}

.resetField {
    width: 170px;
    height: 90px;
    top: 35px;
    background: #dc97f4;
    opacity: 0.3;
    border: 0.5px dashed #064c5b;
    box-sizing: border-box;
}

/* triangles styles */

.triangles {
    /* position: relative; */
    left: 41px;
}

.firstTriangle,
.secondTriangle {
    cursor: grab;
    position: absolute;
}

/* .firstTriangle {
    border: 1px solid black;
} */

.secondTriangle {
    margin-left: 115px;
    margin-top: 80px;
}

/* edges styles */

.topСorner,
.bottomСorners {
    display: flex;
    width: 90px;
    height: 50px;
    position: absolute;
    cursor: pointer;
    z-index: 1;
}

.bottomСorners {
    top: 70%;
}

/* for second triangle */

.leftCorners,
.rightCorner {
    display: flex;
    width: 30px;
    height: 100px;
    position: absolute;
    cursor: pointer;
    z-index: 1;
    /* border: 1px solid black; */
}

.rightCorner {
    top: 50px;
    left: 80%;
    height: 50px;
}
